<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.1.xsd">	


 <security:http auto-config="true">
		<security:intercept-url pattern="/" access="ROLE_USER,ROLE_ADMIN,ROLE_DEPT"/>
		<security:form-login login-page="/login.html" 
							 login-processing-url="/j_spring_security_check"
							 default-target-url="/log.html" 
							 authentication-failure-url="/login.html?error"
							 username-parameter="username"
							 password-parameter="password"/>
	<security:access-denied-handler error-page="/denied.html"/>		 
	</security:http>	
		
      <security:authentication-manager erase-credentials="false">
	  <security:authentication-provider user-service-ref="SecurityService">	  	 
	  	 <security:password-encoder hash="plaintext"></security:password-encoder>	    
	  </security:authentication-provider>
	  
	</security:authentication-manager>
	
		
	</beans>